body{

    background-color: aqua;
}

header{
    background-color: yellow;
}

main{
    background-color: blue;
}

section{
    background-color: orange;
}

aside{

    background-color: green;
}

article{

    background-color: turquoise;
}

